

.header {
    margin: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--burger-menu {
      display: none;
}
    
.header-logo img {
        width: 175px;
        height: auto;
}
  
.header-title {
      font-size: 2rem;
      font-weight: 600;
      color: #F8AF3D;
}
  
.header-menu {
      display: flex;
      align-items: center;
}
.menu-items {
        display: flex;
        font-size: 16px;
        color: #103244;
        list-style-type:none;
        text-decoration:none;
        color: black;
}
.menu-item {
        margin-right: 30px;

        font-size: 16px;
        border: none;
        padding: 10px;
        border-radius: 5px;
        color: #103244; 
    
}

.menu-link {
    display: flex;
    font-size: 16px;
    color: #103244;
    list-style-type:none;
    text-decoration:none;
    color: black;
    font-family:'Quicksand', 'Helvetica', arial;
}

a:hover {
    background-color: #F8AF3D;
    color: black;
    border-radius: 5px;
  }
