{% extends 'base.html.twig' %}

 {% block title %}New User{% endblock %}

 {% block body %}
     <h1>Create new User</h1>

     {{ include('back/_form.html.twig') }}

     <a href="{{ path('app_back_users') }}">back to list</a>
 {% endblock %}