{% extends 'base.html.twig' %}

 {% block title %}Gestion des utilisateurs.{% endblock %}

 {% block body %}
     <h1>Créer un nouvel utilisateur</h1>

     {{ include('back/_form.html.twig') }}

     <a href="{{ path('app_back_users') }}">Retourner à la liste des utilisateurs. </a>
 {% endblock %}