{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}

    <ul class="list-group justify-content-center">
  <li class="list-group-item " ><strong>Pseudo : </strong> {{ user.alias }}</li>
  <li class="list-group-item"> <strong> Email : </strong> {{ user.email }}</li>
  <li class="list-group-item"> <strong>Roles : </strong> {{ user.roles|join (', ')}}</li>


    <a href="{{ path('app_back_users') }}"  class="btn btn-secondary">Retour</a>
</ul>


{% endblock %}